INCLUDE libc.so
INCLUDE libm.so

SECTIONS
{
    .rela.dyn 0x44f758 : { *(.rela.dyn) }
    .text 0x451f00 : { *(.text) }
    .rodata.cst16 0x5be6f0 : { *(.rodata.cst16) }
    .dynamic 0x8153e8 : { *(.dynamic) }
    .got.plt 0x815628 : { *(.got.plt) }

    /DISCARD/ : {
        *(.interp)
    }

$sections
}
