INCLUDE libm.so

SECTIONS
{
    .text 0x451f00 : { *(.text) }
    .rodata.cst16 0x5be6f0 : { *(.rodata.cst16) }
    .dynamic 0x8153e8 : { *(.dynamic) }

    /DISCARD/ : {
        *(.interp)
    }

$sections
}
